body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  color: #f8fafc;
}

.wrapper {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 60px;
  height: 100vh;
}

.content-wrapper {
  display: grid;
  grid-template-columns: auto 300px;
  height: 100%;
}

.card-wrapper {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.card {
  border: 1px solid rgb(61, 68, 77);
  border-radius: 6px;
}

.sidebar {
  grid-row: 1 / 3;
  background: rgb(13, 17, 23);
  padding-left: 20px;
  padding-top: 10px;
  border-right: 1px solid rgba(61, 68, 77, 0.7);
}

.header {
  background: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(61, 68, 77);
  /* align-self: center; */
}

.content {
  background: rgb(0, 0, 0);
}

.content-wrapper>div:last-child {
  background: rgb(13, 17, 23);
}

ul {
  list-style: none;
  padding: 0;
}

h1, h2, h3 {
  font-weight: 500;
}

input[type="text"] {
  color: #f8fafc;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(61, 68, 77);
  border-radius: 6px;
  outline: none;
  padding: 5px;
}