/* * {
  border: 1px solid red;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  color: #f8fafc;
}

a {
  text-decoration: none;
  color: #f8fafc;
}

a:hover {
  color: #94a3b8;
  filter: invert(68%) sepia(21%) saturate(291%) hue-rotate(175deg) brightness(92%) contrast(86%);
}

hr {
  border: none;
  border-top: 2px solid rgb(61, 68, 77);
  margin-top: 15px;
  margin-bottom: 10px;
}

.fs12 {
  font-size: 12px;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px auto;
  grid-auto-rows: auto 1fr;
  height: 100vh;
}

.content-wrapper {
  display: grid;
  padding: 20px;
  grid-template-columns: auto 300px;
}

.header {
  background: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(61, 68, 77);
  padding: 10px;
}

.flexgap {
  display: flex;
  gap: 10px;
  align-items: center;
}

.flexcol {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.space-between {
  justify-content: space-between;
}

.top-icons {
  gap: 10px;
}

.card-wrapper {
  display: grid;
  gap: 20px;
  padding-right: 20px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.side-wrapper {
  display: grid;
  gap: 20px;
}

.card {
  border: 1px solid rgb(61, 68, 77);
  border-left: 5px solid rgb(61, 68, 77);
  border-radius: 5px;
  padding: 20px;
}

.sidebar {
  grid-row: 1 / 3;
  background: rgb(13, 17, 23);
  border-right: 1px solid rgba(61, 68, 77, 0.7);
  padding: 20px;
}

h1 {
  text-align: center;
}

.content {
  background: rgb(0, 0, 0);
}

.section-header {
  padding-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  gap: 10px;
  padding-bottom: 5px;
}

h1, h2, h3 {
  font-weight: 500;
}

input[type="text"] {
  color: #f8fafc;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(61, 68, 77);
  border-radius: 5px;
  outline: none;
  padding: 5px;
}

@media only screen and (max-width: 906px) {
  div.sidebar {
    width: 0px;
  }

  .wrapper {
    grid-template-columns: 0px auto;
  }
}